#session {
    -fx-background-color: #8be78b;
    -fx-padding: 20px;
    -fx-border-insets: 20px;
    -fx-background-insets: 20px;
    -fx-border-style: solid;
    -fx-border-color: #569056;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-max-width: 590px;
}

#global {
    -fx-background-color: #85c9e8;
    -fx-padding: 20px;
    -fx-border-insets: 20px;
    -fx-background-insets: 20px;
    -fx-border-style: solid;
    -fx-border-color: #42a2dc;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-max-width: 590px;
}

#header {
    -fx-font-family: Monospaced;
    -fx-font-size: 30px;
}

#description {
    -fx-font-size: 16px;
}

#howToUse {
    -fx-font-family: monospace;
    -fx-font-size: 20px;
}

#coordsPicker {
    -fx-font-size: 11px;
    -fx-min-height: 24px;
    -fx-max-width: 10px;
}

#refresh {
    -fx-border-insets: 10px;
    -fx-background-insets: 10px;
    -fx-pref-width: 100px;
    -fx-pref-height: 50px;
    -fx-background-color: transparent;
    -fx-border-style: solid;
    -fx-border-color: #ff0000;
    -fx-border-width: 1px;
    -fx-border-radius: 4px;
    -fx-background-radius: 4px;
}

#refresh:hover {
    -fx-border-insets: 10px;
    -fx-background-insets: 10px;
    -fx-pref-width: 100px;
    -fx-pref-height: 50px;
    -fx-background-color: #f17979;
    -fx-text-fill: #ffffff;
    -fx-border-style: solid;
    -fx-border-color: #ff0000;
    -fx-border-width: 1px;
    -fx-border-radius: 4px;
    -fx-background-radius: 4px;
}

#refresh:pressed {
    -fx-background-color: #ea3e3e;
}

.line {
    -fx-stroke: red;
    -fx-stroke-width: 2px;
}

.info-container {
    -fx-padding: 10px;
}

.normal-text {
    -fx-font-size: 16px;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab-pane
{
    -fx-tab-min-width:90px;
}

.tab{
    -fx-background-insets: 0 1 0 1,0,0;
}
.tab-pane .tab
{
    -fx-background-color: #e6e6e6;

}

.tab-pane .tab:selected
{
    -fx-background-color: #3c3c3c;
}

.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #828282;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #96b946;
}

#control-panel {
    -fx-background-color: #fff;
    -fx-border-color: #000;
    -fx-border-radius: 16px;
    -fx-background-radius: 16px;
    -fx-border-style: solid;
}

#generate {
    -fx-background-color: #92FE9D;
    -fx-border-style: solid;
    -fx-border-width: 1px;
}
#generate:hover {
    -fx-background-color: #60ff6d;
    -fx-scale-x: 110%;
    -fx-scale-y: 110%;
}

#reset {
    -fx-background-color: #fc5b5b;
    -fx-text-fill: white;
    -fx-border-style: solid;
    -fx-border-width: 1px;
}
#reset:hover {
    -fx-background-color: #fd1111;
    -fx-scale-x: 110%;
    -fx-scale-y: 110%;
}